@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --shadow-sm: 0 35px 35px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-code-pro);
  cursor: url("./../../public/cursor.svg"), auto;
}

.button {
  cursor: url("./../../public/cursor_link.svg"), auto;
}

.window {
  cursor: url("./../../public/cursor_move.svg"), auto;
}

.input {
  cursor: url("./../../public/cursor_type.svg"), auto;
}

.citadel {
  background-image: url("https://supabase.owlbear.cc/storage/v1/object/public/large-images/citadel_logo.png");
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom Scrollbar Styles for Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #000; /* Scrollbar color and track color */
}

/* Optional: Handle on hover for Firefox */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
