@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --shadow-sm: 0 35px 35px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-code-pro);
  cursor: url("./../../public/cursor.svg"), auto;
}

.button {
  cursor: url("./../../public/cursor_link.svg"), auto;
}

.window {
  cursor: url("./../../public/cursor_move.svg"), auto;
}
